
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #A6E3E9;
}

.container{
    background-color: #dd7973 ;
    max-width: 400px;
    margin-inline: auto;
    margin-top: 5rem;
    border-radius: 20px;
    box-shadow: 6px 8px 4px rgba(1, 1, 1, 0.2);
    transition: 0.2s ease-in-out;
}


.school-name {
    background-color:#33b249 ;
    color: #fff;
    font-family: 'Gambetta', serif;
    text-align: center;
    padding: 20px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.img-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-section img{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 120px;
    border: 1px solid #fff;
}

.student-info p{
    color: #fff ;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-family: 'General Sans', sans-serif;
}
.btn-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 5px 50px;
    margin: 10px;
    background-color: #3F72AF ;
    /* color: #A6E3E9; */
    color: #ffffff;
    font-family: 'General Sans', sans-serif;
    font-size: 20px;
    border-radius: 10px;
}

.container:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}


@media (max-width:460px) {
    .main{
        padding: 30px;
    }
    .school-name{
        font-size: 28px;
    }
    .student-info p{
        font-size: 16px;
    }
    .img-section img{
        width: 100px;
    }
    .btn{
        font-size: 15px;
        padding: 5px 20px;
    }
}